.genre-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 25px;
}

.genre-row.scrollable {
  flex-flow: unset;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

h2 {
  width: 100%;
  margin: 5px 7px;
}

h2 a {
  color: var(--color-font);
}

h2 a i {
  opacity: 0;
  transition: opacity 100ms ease;
  color: var(--color-accent-primary);
}

h2 a:hover i {
  opacity: 1;
}

.movie-card {
  position: relative;
  display: flex;
  width: calc(20% - 14px);
  min-width: calc(20% - 14px);
  height: 130px;
  background-size: cover;
  background-color: var(--color-accent-secondary);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 7px;
  transition: box-shadow 200ms ease;
  scroll-snap-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .movie-card {
    width: calc(25% - 14px);
    min-width: calc(25% - 14px);
  }
}

@media only screen and (max-width: 1024px) {
  .movie-card {
    width: calc(33.34% - 14px);
    min-width: calc(33.34% - 14px);
  }
}

@media only screen and (max-width: 787px) {
  .movie-card {
    width: calc(50% - 14px);
    min-width: calc(50% - 14px);
  }
}

@media only screen and (max-width: 425px) {
  .movie-card {
    width: calc(100% - 14px);
    min-width: calc(100% - 14px);
  }
}

.movie-card:hover {
  box-shadow: 3px 2px 5px 1px #000;
}

.movie-card h3 {
  margin: 0 0 8px 0;
  text-shadow: 1px 1px 1px #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.movie-card-overlay {
  position: absolute;
  display: flex;
  flex-flow: column;
  opacity: 0;
  background-color: #000000ee;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;
  transition: opacity .2s ease;
}

.movie-card:hover .movie-card-overlay {
  opacity: 1;
}

.movie-card-bottom {
  margin-top: auto;
}