body {
  background: url(../img/wallpaper-movies.jpg);
  background-size: cover;
}

#nepflix-logo {
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#nepflix-logo img {
  filter: drop-shadow(5px 5px 5px #000);
}

.card-separator {
  max-width: 90px;
  padding: 0;
  background-color: var(--color-accent-primary);
  margin-right: 50vw;
  margin-left: 50vw;
}

.card-separator p {
  margin-bottom: 0;
}