::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px var(--color-accent-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  overflow: overlay;
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
}

p, label, h1, h2, h3, h4, h5, h6 {
  color: var(--color-font);
}

p {
  font-size: 16px;
  margin: 0 0 15px 0;
}

a {
  color: var(--color-font-link);
  transition: color 100ms ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: .95;
  color: var(--color-accent-primary);
}

.bold {
  font-weight: bold;
  font-family: var(--font-family-bold);
}

.container {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%; /* TODO make responsive */
}

.container-full {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: var(--color-accent-secondary);
  margin-bottom: 50px;
}

nav.navbar {
  justify-content: space-between;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

ul.navbar-nav {
  list-style: none;
  display: flex;
}

li.nav-item a {
  color: var(--color-font);
  font-size: 15px;
}

li.nav-item a:hover {
  color: var(--color-accent-primary)
}

li.nav-item:not(:last-child) a {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .navbar-logo {
    display: none;
  }
}

#nav-search {
  margin-bottom: 0;
}

.btn-logout:hover {
  color: red;
}

#footer {
  background-color: var(--color-accent-secondary);
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 15px;
}

#footer > p {
  flex: 0 0 100%;
  text-align: center;
}

.card {
  margin-bottom: 1vh;
  padding: 10px;
  max-width: 500px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-card);
  opacity: .95;
  text-align: center;
  flex: 0 0 50%;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: var(--font-family-light);
}

input, textarea {
  margin-bottom: 10px;
  font-family: var(--font-family-light);
}

input:disabled {
  cursor: not-allowed;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-accent-secondary);
  padding: 5px 3px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
  outline: 1px solid var(--color-accent-primary);
}

input[type="button"], input[type="submit"] {
  font-weight: bold;
  color: var(--color-font);
  background-color: var(--color-accent-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid #000;
  padding: 4px 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
