.title-cover {
  margin: -80px 0;
  z-index: -1;
  height: 40vh;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1px var(--color-bg);
}

.title-cover img {
  width: 100%;
}

.play-btn {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-font);
}

.play-btn i {
  font-size: 60px;
}

.title-info-bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.title-info-bar p {
  margin-right: 20px;
}

.title-info-bar p span {
  font-size: .8em;
}

.title-description {
  width: 100%;
}

.title-cast {
  text-align: center;
}

.title-cast h2 {
  margin-bottom: 15px;
}

.title-cast ul {
  padding: 0;
  list-style-type: none;
}

.title-cast li {
  margin-bottom: 10px;
}