#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

DirectoryIndex index.php

ErrorDocument 400 /views/404.php
ErrorDocument 401 /views/404.php
ErrorDocument 403 /views/404.php
ErrorDocument 404 /views/404.php
ErrorDocument 405 /views/404.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^p/(.*)/([^/]*)$ app.php?page=$1&param=$2 [L]

#Redirect root directory
RewriteRule ^$ /p/browse/

# Ensure https
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]